header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-content: center;

    background-color: black;

    color: white;
}

header a {
    align-self: center;
}

header img {
    height: 7vh;
    margin: 1vw;
    align-self: center;
}