.site-menu .site-menu-button-container {
    width: 10vh;
    height: 10vh;

    display: none;
    align-items: center;
    justify-content: center;
}

.site-menu-button {
    width: 75%;
    height: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.site-menu-button img {
    width: 100%;
    height: 100%;
}

.site-menu-button:active {
    background-color: gray;
}

@media (max-width: 1275px) {
    .site-menu .site-menu-button-container {
        display: flex;
    }
}