.button-typeA {
    width: 250px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: white;
    font-weight: bold;
    border-radius: 15px;
    font-size: 1.5rem;
    text-decoration: none;

    background-color: #900020;
    cursor: pointer;
}