/* Solo Tab */
.solo-tab {
    counter-reset: num;
}

.solo-tab .solo-group {
    width: 100%;
    margin: 40px auto;
    padding: 0;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px 60px;

    flex-direction: column;
    list-style: none;
}

.solo-tab .solo-group-element {
    width: 100%;
}

.solo-tab .solo-group-element img {
    width: 100%;
}

.solo-group-element-text {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.solo-group-element-text li {
    margin-left: 5px;
}

/* Double Tab */

.duel-tab {
    height: 1000px;
}

/* Deul Team Tab */

.dtd-tab {
    height: 1000px;
}

@media (max-width: 1200px) {
    .solo-tab .solo-group {
        margin: 0 auto;
        display: flex;
    }

    .solo-tab p {
        text-align: center;
    }

    .solo-group-element-text {
        font-size: 1rem;
    }
}