@media (max-width: 1275px) {
    /* Common Page */
    #page h1 {
        font-size: 2.25rem;
    }
    
    #page h2 {
        font-size: 1.75rem;
    }
    
    #page h3 {
        font-size: 1.5rem;
    }
    
    #page p, #page li {
        font-size: 1rem;
    }

    #page section {
        margin-bottom: 50px;
    }

    /* Title */
    #page .title p, #page .title h1 {
        text-align: center;
    }

    /* Summary */
    #page .summary-content {
        max-width: 800px;

        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    #page .summary-content img, #page .summary-content video, #page .summary-content p {
        max-width: 90%;
    }

    #page .summary-content p {
        margin: 32px auto;
    }

    #page .summary-button-container {
        position: static;
    }

    /* Features */
    #page .feature-background {
        height: 360px;
    }

    #page .feature-element {
        width: 90%;
    }

    /* Story */
    #page .story-image img {
        max-width: 100%;
    }

    #page .media-title {
        font-size: 0.8rem;
    }

    #page .story-video iframe {
        width: 100%;
        max-height: 360px;
    }

    /* Spec Table */

    #page .spec-table table {
        font-size: 1rem;
    }

    #page .spec-table td {    
        width: 6rem;
        padding: 3vmin;
    }

    #page .spec-table .content-column {
        width: 18rem;
    }

    #page .spec-table .image-column {
        display: none;
    }

    #page .spec-table-mobile-image {
        display: block;
    }
}