@media (max-width: 1275px) {
    /* Common Page */
    #page h1 {
        font-size: 2.25rem;
    }
    
    #page h2 {
        font-size: 1.75rem;
    }
    
    #page h3 {
        font-size: 1.5rem;
    }
    
    #page p, #page li {
        font-size: 1rem;
    }

    #page section {
        margin-bottom: 50px;
    }

    /* Title */
    #page .title p, #page .title h1 {
        text-align: center;
    }

    /* Summary */
    #page h2 {
        text-align: center;
    }

    #page .summary-content {
        max-width: 800px;

        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    #page .summary-content img, #page .summary-content video, #page .summary-content p {
        max-width: 90%;
    }

    #page .summary-content p {
        margin: 32px auto;
    }

    #page .summary-button-container {
        position: static;
    }

    /* Features */
    #page .feature-element {
        flex-direction: column-reverse;
    }

    #page .feature-element-rev {
        flex-direction: column-reverse;
    }

    #page .feature-element-text {
        width: 90%;
        height: fit-content;
        text-align: center;
    }

    #page .feature-element-media {
        width: 90%;
        height: fit-content;
    }

    /* Story */
    #page .story-image img {
        max-width: 100%;
    }

    #page .media-title {
        font-size: 0.8rem;
    }

    #page .story-video iframe {
        width: 100%;
        max-height: 360px;
    }

    /* Spec Table */

    #page .spec-table table {
        font-size: 1rem;
    }

    #page .spec-table td {    
        width: 6rem;
        padding: 3vmin;
    }

    #page .spec-table .content-column {
        width: 18rem;
    }

    #page .spec-table .image-column {
        display: none;
    }

    #page .spec-table-mobile-image {
        display: block;
    }

    /* Tab Section */
    #page .tab-page .navigation {
        font-size: 1.25rem;
        text-align: center;
    }

    #page .tab-page .selector-selected {
        margin: 0 5px;
        border-bottom-width: 5px;
    }
    
    #page .tab-page .selector-not-selected {
        margin: 0 5px;
        border-bottom-width: 5px;
    }

    #page .tab-page .content {
        margin: 25px 5px;
    }

    #page .tab-page .tab-switch-button {
        display: none;
    }

    /* QnA */
    /* List */
    #page .list img {
        display: none;
    }

    #page .list video {
        display: none;
    }

    #page .list ul {
        width: 100%;
    }
}