.page-button {
    width: 250px;
    height: 65px;
}

.page-button a {
    text-decoration: none;
}

.page-button-content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.5rem;
    text-decoration: none;

    background-color: #900020;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .page-button {
        width: 150px;
        height: 50px;
    }

    .page-button-content {
        border-radius: 10px;
        font-size: 1rem;
    }
}