#page-home .show-window {
  width: 100%;
  height: calc(90vh - 100px);

  background-image: url('/image/page-main-2.png');
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}   

#page-home .catchphrase-title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

#page-home .catchphrase-subtitle {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

#page-home .video-button {
  width: 10rem;
  height: 2rem;

  margin: 3vh auto;

  border: 0px solid black;
  border-radius: 1rem;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}