/* Common Page */
.page-element {
    word-break: keep-all;
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.page-element h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Helvetica, Arial, NanumSquare, Gulim';
}

.page-element h2 {
    font-size: 2.5rem;
}

.page-element h3 {
    font-size: 2rem;
}

.page-element p, .page-element li {
    font-size: 1.5rem;
}

.page-element section {
    margin-top: 100px;
}


/* Title */
.page-element .title h1 {
    margin-bottom: 0;
}

.page-element .title p {
    margin-top: 0;
    font-family: 'Helvetica, Arial, NanumSquare, Gulim';
}

/* Summary */
.page-element .summary-content {
    position: relative;
    display: flex;
}

.page-element .summary-content img, .page-element .summary-content video {
    max-width: 40%;
    margin: 0 5%;
}

/* Features */
/* 색깔만 바꾸도록 코드 수정*/
.feature-background-0 {
    width: 100%;
    height: 580px;

    display: flex;
    align-items: center;

    background-color: whitesmoke;
}

.feature-background-1 {
    width: 100%;
    height: 580px;

    display: flex;
    align-items: center;

    background-color: #1F242F;
    color: whitesmoke;
}

.feature-background-2 {
    width: 100%;
    height: 580px;

    display: flex;
    align-items: center;

    background-color: lightgray;
}

.page-element .feature-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page-element .feature-element .text {
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-element .feature-element .media {
    width: 45%;
    height: 100%;
}

.page-element .feature-element img, .feature-element video{
    max-width: 90%;
    margin: 0 5%;
}

/* List */

.page-element .list-content {
    display: flex;
}

.page-element .list-content ul {
    width: 50%;

    list-style: none;
    margin: 25px 0;
    padding: 0px;
}

.page-element .list-content li {
    width: 100%;
    margin-bottom: 25px;
    border-top: 3px solid #1F242F;
    display: flex;
    align-content: center;
}

.page-element .list-content li p{
    margin: auto 20px;
}

.page-element .list-content li::before {
    content: "\2022";
    width: 50px;
    height: 50px;
    display: block;
    background-color: #1F242F;
}

.page-element .list-content img, .page-element .list-content video {
    width: 30%;
    margin: 0 10%;
}

/* Tab Page */
.page-element .tab-page {
    display: flex;
    align-items: center;
}

.page-element .tab-page .container {
    width: 100%;
    margin: 0 10px;
}

.page-element .tab-page .navigation {
    display: flex;

    font-size: 2rem;
    font-weight: bold;
}

.page-element .tab-page .selector-selected {
    margin: 0 10px;
    flex-grow: 1;
    cursor: pointer;
    border-bottom: 10px solid #1F242F;
}

.page-element .tab-page .selector-not-selected {
    margin: 0 10px;
    flex-grow: 1;
    cursor: pointer;
    border-bottom: 10px solid #BFBFBF;
}

.page-element .tab-page .content {
    margin: 50px 10px;
}

.page-element .tab-page .tab-switch-button {
    width: 65px;
    height: 135px;

    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.page-element .tab-page .tab-switch-button:hover {
    background-color: gray;
}

/* QnA */

.page-element .qna {
    margin: 75px auto;
}

.page-element .qna h3::before {
    content: "\201C \A";

    font-size: 5rem;
    color: #B3B3B3;

    display: inline-block;
}

.page-element .qna h3::after {
    content: "\A\A \201D";

    font-size: 5rem;
    color: #B3B3B3;

    display: inline-block;
}

/* Spec Table */

.page-element .spec-table table {
    max-width: 100%;

    margin: 0 auto;

    font-size: 1.5rem;
    text-align: center;
}

.page-element .spec-table td {
    border-top: 1px solid white;

    padding: 15px;

    width: 270px;
}

.page-element .spec-table .title-column {
    background-color: #4A378A;
    color: whitesmoke;
}

.page-element .spec-table .content-column {
    width: 470px;
    background-color: white;
}

.page-element .spec-table .image-column {
    width: 360px;
    height: 350px;
    background-color: white;
    padding: 5px 0 0 3px;
}

.page-element .spec-table .image-column img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}