/* Common Page */
.page-element {
    word-break: keep-all;
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.page-element h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Helvetica, Arial, NanumSquare, Gulim';
}

.page-element h2 {
    font-size: 2rem;
}

.page-element p, .page-element li {
    font-size: 1.5rem;
}

.page-element section {
    margin-top: 100px;
}


/* Title */
.page-element .title h1 {
    margin-bottom: 0;
}

.page-element .title p {
    margin-top: 0;
    font-family: 'Helvetica, Arial, NanumSquare, Gulim';
}

/* Summary */
.page-element .summary-content {
    position: relative;
    display: flex;
}

.page-element .summary-content img, .page-element .summary-content video {
    max-width: 40%;
    margin: 0 5%;
}

/* Features */
/* 색깔만 바꾸도록 코드 수정*/
.feature-background-0 {
    width: 100%;
    height: 580px;

    display: flex;
    align-items: center;

    background-color: whitesmoke;
}

.feature-background-1 {
    width: 100%;
    height: 580px;

    display: flex;
    align-items: center;

    background-color: #1F242F;
    color: whitesmoke;
}

.feature-background-2 {
    width: 100%;
    height: 580px;

    display: flex;
    align-items: center;

    background-color: lightgray;
}

.page-element .feature-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page-element .feature-element .text {
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-element .feature-element .media {
    width: 40%;
    height: 100%;
}

.page-element .feature-element img, .feature-element video{
    max-width: 90%;
    margin: 0 5%;
}

/* List */

.page-element .list-content {
    display: flex;
}

.page-element .list-content ul {
    width: 50%;

    list-style: none;
    margin: 25px 0;
    padding: 0px;
}

.page-element li {
    width: 100%;
    margin-bottom: 25px;
    border-top: 3px solid #1F242F;
    display: flex;
    align-content: center;
}

.page-element li p{
    margin: auto 20px;
}

.page-element li::before {
    content: "\2022";
    width: 50px;
    height: 50px;
    display: block;
    background-color: #1F242F;
}

.page-element .list-content img, .page-element .list-content video {
    width: 30%;
    margin: 0 10%;
}

/* Tab Page */
.tab-page {
    display: flex;
}

.content {
    width: 100%;
}

.tab-switch-button {
    width: 67px;
    height: 135px;

    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.tab-switch-button:hover {
    background-color: gray;
}