#app {
    position: absolute;
    width: 100%;
}

main {
    position: relative;
    top: 10vh;

    width: 100%;
}

section {
    width: 100%;
}

footer {
    width: 100%;
}

footer img{
    width: 100%;
}