.lecture-movie-side-menu {
    width: 480px;
    height: 100%;

    overflow-y: auto;

    background-color: #F2F2EA;
}

.lecture-movie-side-menu-element, .lecture-movie-side-menu-element-selected {
    width: 100%;
    height: 72px;

    display: flex;
    align-items: center;
    
    word-break: keep-all;
    cursor: pointer;
}

.lecture-movie-side-menu-element-selected {
    background-color: #80807B;
}

.lecture-movie-side-menu-element img, .lecture-movie-side-menu-element-selected img {
    height: 75%;
    margin: 0 16px;
}