#main-page {
    width: 100%;
}

#main-page .show-window {
    width: 100%;
    height: 90vh;

    background-image: url('/image/page-main-2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 2rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   

#main-page .catchphrase-title {
    font-size: 4rem;
    text-align: center;
}

#main-page .catchphrase-subtitle {
    font-weight: normal;
    text-align: center;
}

#main-page .video-button {
    width: 12.5vw;
    height: 2.5vw;

    margin: 3vh auto;

    border: 0px solid black;
    border-radius: 2vw;

    background-color: white;

    font-size: 1.25vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#main-page .video-button p { 
    margin: 0;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
}

#main-page .video-player {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 50%) ;
}

#main-page .video-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 50%) ;
}

#main-page .video-player iframe {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 1280px;
    height: 720px;

    display: block;
    margin: 0 auto;
}

/* 주요 상품 섹션 */

#main-page .representative-goods {
    width: 1180px;
    margin: 100px auto;
}

#main-page .representative-goods h1 {
    font-size: 3rem;
    text-align: center;
}

#main-page .representative-items-container {
    display: flex;
    justify-content: space-evenly;
}

#main-page .representative-items-container a {
    color: inherit;
    text-decoration: none;
}

#main-page .representative-item {
    width: 360px;
    height: 360px;
}

#main-page .representative-item p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#main-page .representative-item img {
    width: 100%;
    height: 100%;

    border: 1px solid darkgray;
}


