.company-info {
    width: 100%;
    margin-top: 200px;
    padding: 64px 0 64px 0;

    background-color: #C7C7C7;
    display: flex;

    word-break: keep-all;
}

#page .company-info p {
    font-size: 1rem;
}

.company-info .company-info-content {
    max-width: 32rem;
    margin: auto 32px;
}

.company-info .company-name {
    font-weight: bold;
}

.company-info .company-info-content hr {
    margin: 15px 0;
}

.company-info .company-details {
    line-height: 160%;
}

.company-info .language-selector {
    margin: 32px auto;
}

.company-info .language-selector form {
    width: 100%
}

.company-info .language-selector select {
    margin: 20px 0;
    width: 100px;
}


@media (max-width: 1200px) {
    .company-info {
        flex-direction: column;
    }
}