#page-droina-edu img {
    padding: 32px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

#page-droina-edu .feature-element img, #page-droina-edu .feature-element-rev img {
    padding: unset;
    box-sizing: unset;
    background-color: unset;
}

#page-droina-edu .dronia-edu-materials {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

#page-droina-edu .dronia-edu-materials img {
    width: 128px;
    padding: 0;
    background-color: unset;
}

#page-droina-edu .dronia-edu-materials-element {
    text-align: center;
}

#page-droina-edu .materials-button-container {
    width: fit-content;
    margin: 16px auto;
}

#page-droina-edu .dronia-edu-result {
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-droina-edu .dronia-edu-result img{
    width: 45%;
    background-color: unset;
}

#page-droina-edu .dronia-edu-gallery {
    width: 100%;
}

#page-droina-edu .dronia-edu-gallery img {
    width: 100%;
}

#page-dronia-edu .dronia-edu-gallery-button {
    width: 67%;
    margin: 0 auto;
}

#page-droina-edu .dronia-edu-gallery-button img:last-child {
    display: none;
}

#page-droina-edu .dronia-edu-gallery-button:hover img:first-child {
    display: none;
}

#page-droina-edu .dronia-edu-gallery-button:hover img:last-child {
    display: unset;
    cursor: pointer;
}